@media(max-width: 1610px) {
    .content__box {
        width: 1350px;
    }

    .header__box-slider {
        width: 700px;
        height: 800px;

        &::before {
            right: 30px;
            bottom: -100px;
            width: 530px;
        }
    }

    .box-slider__content {
        bottom: -100px;
        right: 0;
        left: auto;
    }

    .header__box-social {
        width: 370px;
    }

    .social-media {
        right: 0;
    }

    .header__box-link {
        width: 350px;
    }
}

@media(max-width: 1390px) {
    .header__inner {
        min-height: 990px;
    }

    .header__inner-content {
        min-height: 760px;
    }

    .content__box {
        width: 950px;
        height: 620px;
    }

    .header__box-slider {
        width: 500px;
        right: -15px;
        height: 720px;

        &::before {
            right: 0;
            width: 390px;
            height: 520px;
            bottom: 60px;
        }
    }

    .slick-slide {
        img {
            width: 350px;
        }
    }

    .box-slider__content {
        height: 560px;
        width: 352px;
        bottom: -15px;
        right: -20px;

        &::before {
            width: 170px;
            height: 40px;
            top: 170px;
            left: 60px;
        }
    }

    .header__box-social {
        width: 270px;
    }

    .social-link {
        font-size: 18px;
        right: 0;
    }

    .header__box-link {
        width: 300px;
        height: 620px;
    }

    .buy,
    .watch {
        font-size: 18px;
    }

    .buy {
        top: 57px;
    }

    .watch {
        top: 50px;
    }

    .slick-arrow {
        img {
            width: 50px;
        }
    }

    .box-link__title {
        font-size: 120px;
    }
}


@media(max-width: 1255px) {
    .header__menu {
        padding: 0 15px;
    }
}

@media(max-width: 1000px) {
    .content__box{
        position: relative;
    }
    .header__inner {
        min-height: 800px;
    }

    .header__menu {
        height: 100px;
    }

    .header__inner-content {
        min-height: 650px;
    }

    .content__box {
        width: 100%;
        overflow: hidden;
    }

    .header__box-slider {
        height: 100%;

        &::before {
            display: none;
        }
    }

    .box-slider__content {
        top: 50px;
        left: 31px;
    }

    .header__box-social {
        position: absolute;
        right: 50px;
        height: 200px;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
}

    .box-link__title {
        display: none;
    }

    .buy {
        word-wrap: normal;
        width: auto;
        display: block;
        margin-bottom: 40px;
        left: 0;
        padding: 0;
        border: none;

        &:hover {
            border: none;
        }
    }

    .watch {
        word-wrap: normal;
        margin-top: 50px;
        text-align: left;
        left: 0;
        width: 200px;
        padding: 0;
        border: none;

        &:hover {
            border: none;
        }
    }

    .header__box-link {
        height: 300px;
    }

    .box-link__catalog {
        position: relative;
    }

    .catalog_btn {
        position: absolute;
        width: 40px;
        height: 80px;
        right: 22px;
        top: 80px;
        display: block;
        background-color: #fff;

        span {
            display: block;
            margin-bottom: 3px;
            width: 15px;
            height: 15px;
            border: 3px solid $red;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }

    .catalog__links {
        position: absolute;
        width: 100%;
        min-height: 160px;
        background-color: rgba(51, 51, 51, .7);
        top: 60px;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }

    .catalog__links-active {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }
    .social-media{
        a{
            img{
                width: 30px;
            }
        }
    }
}
@media(max-width: 660px) {
    .header__inner{
        min-height: 750px;
        &-content{
            min-height: auto;
        }
    }
    .header__box-social{
        width: 250px;
        right: 50px;
        border-radius: 10px;
        background-color: rgba(51, 51, 51, .7);
    }
    
    .social-link{
        color: #fff;
        margin-right: 30px;
        &::before{
            background-color: #fff;
        }
    }
    .social-media{
        margin-right: 30px;
    }
}

@media(max-width: 540px) {
    .header__menu {
        position: relative;
        border-bottom: 1px solid $red;

        &-list {
            position: absolute;
            top: 120px;
            right: 0;
            margin-top: 15px;

            li {
                a {
                    font-size: 15px;
                }
            }
        }

        &-logo {
            img {
                width: 130px;
            }
        }
    }
}