$red: #e70909;
$grey: #e4e4e4;
$pink: #ffdada;
$text: #737272;
$gr: #a6a5a5;

@mixin f500 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}